<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Add Employee</title>
</head>
<body>
<form action="/employee/add" method="post" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="please input name"/><br>
    <input type="text" name="surname" placeholder="please input surname"/><br>
    <input type="email" name="email" placeholder="please input email"/><br>
    <input type="text" name="phoneNumber" placeholder="please input phoneNumber"/><br>
    <input type="number" name="salary" placeholder="please input salary"/><br>
    <select name="position">
        <option value="RELATIONSHIP_MANAGER"> RELATIONSHIP MANAGER</option>
        <option value="TEAM_LEAD"> TEAM LEAD</option>
        <option value="DEVELOPER"> DEVELOPER</option>
    </select><br>
    <select name="company.id">
        <option th:each="company: ${companies}"
                th:text="${company.name}" th:value="${company.id}">
        </option>
    </select><br>
    <input type="file" name="employeeImage"><br>
    <input type="submit" value="Add employee">
</form>
</body>
</html>